env/
.env
__pycache__/
node_modules/
/dist/
/build/
.cache/
logs/
*.pyc
*.pyo
*.pyd
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
.DS_Store
__pycache__/
.cpytest_cache/
.pdf
*.pdf