#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-width: 70%;
  height:100%;
}
.parent{
  width:80%;
  text-align: center;
  align-items: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin:auto;
  margin-top:10%;
}
.fst{
  min-width: '80%';
   position: 'relative';
   border-radius: '5px';
   padding: '10px';
   margin-bottom: '10%';
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loading-spinner {
  border: 6px solid #242424;
  border-top: 6px solid #e3e3e3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.roasted-box span {
  color: #43A18E !important;
  font-size: 14px !important;
  font-style: normal !important;
}

.roasted-box .linenumber{
  color: #4679A2 !important;
  font-size: 15px !important;
}


